n8n/workflows/Bcg2XETdeJfBbELq.json
{
  "createdAt": "2025-07-09T17:37:27.945Z",
  "updatedAt": "2025-07-09T18:07:12.992Z",
  "id": "Bcg2XETdeJfBbELq",
  "name": "main",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "company-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "5437a726-6dd9-4e9f-88e4-8d30c4b6606f",
      "name": "Webhook",
      "webhookId": "98d45938-80ef-4aa5-9140-678a336e7925"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1700,
        0
      ],
      "id": "9b4b8ede-3ed4-48ea-b781-c32e0375a91d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "fb1427a5-98cc-415b-a610-908d113c8e44",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "631c8c4d-7a3c-4964-8108-849455758cdc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "57e3cdd0-0462-4b68-873e-c8a989fdfc91",
      "name": "Markdown"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website content:\n{{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You will be provided with the text content from a company's website. Your mission is to act as a business analyst and extract the following specific fields from the text.\n\nYour response must be a single, valid JSON object, with no additional text or explanations before or after it.\n\n**Field Definitions:**\n\n  * `company_name`: Extract the official and full name of the company.\n  * `company_description`: Provide a brief but comprehensive summary of what the company does, its mission, or its main offerings.\n  * `tier1_keywords`: Identify the primary and most direct keywords that describe the company's core products or services. These should be terms the company would likely use when searching for public government procurement opportunities.\n      * *Example:* For a company that installs solar panels, good Tier 1 keywords would be \"solar panel installation,\" \"renewable energy,\" or \"photovoltaic systems.\"\n  * `tier2_keywords`: Identify secondary keywords that are related to the company's field but are not its core offering. These are terms the company *might* use to explore broader or related government opportunities.\n      * *Example:* For the same solar panel company, Tier 2 keywords could include \"sustainable infrastructure,\" \"energy efficiency consulting,\" or \"electrical grid upgrades.\"\n  * `service_line`: Define the company's high-level business category or industry. This should classify its main line of service.\n      * *Examples:* \"Software as a Service,\" \"Civil Engineering,\" \"Digital Marketing Agency,\" \"Legal Services.\"\n\n**Output Format:**\n\nYour output must strictly follow the JSON format below:\n\n```json\n{\n  \"company_name\": \"name of the company\",\n  \"company_description\": \"description\",\n  \"tier1_keywords\": \"tier 1 keywords here\",\n  \"tier2_keywords\": \"tier 2 keywords here\",\n  \"service_line\": \"company service line here\"\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1020,
        0
      ],
      "id": "9b4a2003-982a-45b8-b7a9-639f491dae56",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        280
      ],
      "id": "c4907c2e-20da-4407-bafd-3791945be853",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DL4quAC3D56jVN8O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"name of the company\",\n  \"company_description\": \"description\",\n  \"tier1_keywords\": \"tier 1 keywords here\",\n  \"tier2_keywords\": \"tier 2 keywords here\",\n  \"service_line\": \"company service line here\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1180,
        280
      ],
      "id": "7c871eac-b55d-4c9a-be16-be4aae1df911",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        460
      ],
      "id": "d4450c58-16ae-4af0-999e-8338b7443f17",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DL4quAC3D56jVN8O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        0
      ],
      "id": "8fda9e67-5f94-4d93-ae6c-c9adfb4d7c18",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "connection": "keep-alive",
            "user-agent": "python-httpx/0.28.1",
            "content-length": "33",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "url": "https://www.sunrun.com/"
          },
          "webhookUrl": "http://n8n:5678/webhook/company-profile",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "35c77b42-828e-4929-9bca-ca0ffcd42149",
  "triggerCount": 1,
  "tags": []
}